<!DOCTYPE html>
<html>
<!-- Head -->
<%- partial('_partial/head') %>
<body>
  <!-- Nav -->
  <%- partial('_partial/nav') %>

  <!-- Main Content -->
  <%- body %>
  <!-- Sidebar -->
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <%- partial('_partial/sidebar') %>
  </div>

  <!-- Footer -->
  <%- partial('_partial/footer') %>
  <!-- After footer scripts -->
  <%- partial('_partial/after-footer') %>
</body>

</html>