<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 多核浏览器优先使用webkit -->
  <meta name="renderer" content="webkit">
  <!-- 禁止百度转码 -->
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!-- 禁止数字识自动别为电话号码 -->
  <meta name="format-detection" content="telephone=no" />

  <!-- Description -->
  <meta name="description" content="<%= page.description || config.description || '' %>">
  <!-- Author -->
  <meta name="author" content="<%= config.author || 'anonymous' %>">
  <!-- Open Graph -->
  <meta property="og:title" content="<%= page.title || config.title || '' %>" />
  <meta property="og:description" content="<%= page.description || config.description || '' %>" />
  <meta property="og:site_name" content="<%= config.title || '' %>" />
  <meta property="og:type" content="<%= page.title ? 'article' : 'website' %>" />
  <!-- TODO add open graph attr og:image -->

  <link rel="icon" href="favicon/favicon.ico">

  <title>
    <%= `${ page.title ? `${ page.title } - ` : '' }${ config.title }${ is_home() && config.subtitle ? ` - ${ config.subtitle }` : '' }` %>
  </title>

  <!-- Icon https://iconpark.oceanengine.com/ -->
  <% if (theme.nav_style === 'icon' ) { %>
    <script src="<%= theme.nav_style_src %>"></script>
  <% } %>
  <!-- Bootstrap core CSS -->
  <%- css('bootstrap/css/bootstrap.min.css') %>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <%- css('css/ie10-viewport-bug-workaround.css') %>

  <!-- Custom styles -->
  <%- css(['css/blog.css', 'css/style.css']) %>
</head>