<div class="blog-pagination">
  <% if (page.prev) { %>
    <div class="blog-pagination__item page-prev">
      <%- __('Previous') %>
      <a href="<%- config.root %><%- page.prev_link %>"></a>
    </div>
  <% } else { %>
    <div class="blog-pagination__item"><span><%- __('First') %></span></div>
  <% } %>
  <% if (page.next) { %>
    <div class="blog-pagination__item page-next">
      <%- __('Next') %>
      <a href="<%- config.root %><%- page.next_link %>"></a>
    </div>
  <% } else { %>
    <div class="blog-pagination__item"><span><%- __('Last') %></span></div>
  <% } %>
</div>